{% extends 'base.html' %}

{% block title %}
Enroll Student
{% endblock %}

{% block content %}
  <h1>Enroll Student</h1>
  <form method="POST" action="{% url 'enroll_student' class.id %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="studentID" class="form-label">Student ID:</label>
      <input type="text" class="form-control" id="studentID" name="studentID" required>
    </div>
    <button type="submit" class="btn btn-primary">Enroll</button>
  </form>
  <a href="{% url 'class_detail' class.id %}" class="btn btn-secondary">Back to Class Detail</a>
{% endblock %}
